<div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        
        <div class="col-md-4" *ngFor="let pelicula of peliculas">
            <div class="card mb-4 shadow-sm">
              <img height=180px [src] = "pelicula.imagen" alt="">
              <div class="card-body">
                <p class="card-text">{{pelicula.titulo}}</p>
                <p class="card-text">{{pelicula.fecha}}</p>
                <p class="card-text">Descripción</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" (click)="verDetalle( pelicula )" class="btn btn-sm btn-outline-secondary">Ver Detalle</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>